@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body,html{
   
    margin: 0;
    width: 100%;
    height: 100%;
    
}
.name{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
}
.navbar{
    background-color:#4a69bd;
}
.jumbotron{
    

    background-image: linear-gradient(to right,#000046,#1CB5E0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height:25vh;
    
    overflow: auto;
    background-attachment: fixed;
}
#google{
    display: none;
}
.home{

      
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-attachment: fixed;
   
    background-image:linear-gradient(to right,#000046,#1CB5E0) ;
    height: 60vh;
    width: 100vw;
    margin-top: -40px;

    overflow: scroll;
    
}
.spaced{

    letter-spacing: 25px;
    text-align: center;
}
.proName{
    
   display: block;
   margin: auto;
   
   max-width:200px;


    
}
#propic{
    
    height: 200px;
    width: 200px;
    
    margin-left: 50%;
    margin-right:50%; 
    z-index: 1;

}
.card{


    background-color:#ffff;
    opacity: 0.6;
    margin: 5px;
    
    width: 320px;
}
.bgFooter{
   background-image: url("../images/martin-jernberg-69147-unsplash.jpg");
   background-position: center;
   
}